body{
  background-color: #7699c2;
  color: #fff;
  font-size: 30px;
  padding: 0px;
  opacity: 1;
}

nav{
  width: 100%;
  position: sticky;
  display: grid;
  border: solid 3px #c9b63a;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-variant: small-caps;
  text-align: left;
}

nav a{
  color: white;
  text-decoration: none;
}

main{
  background-color: transparent;
  display: grid;
  grid-template-columns: 25%, 25%, 25%, 25%;
  grid-gap: 10px;
  width: auto;
  height: auto;
}

.images{
  display: grid;
  width: 400px;
  height: 400px;
}

.images img{
  width: 100%;
  height: 100%;
  box-shadow: 6px 6px 6px black;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background-color: black;
}

.images img:hover .overlay{
  opacity: 1;
}

.text{
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

aside{
  float: right;
  display: grid;
  object-fit: contain;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-variant: small-caps;
  color: white;
  text-align: center;
  border: solid 3px white;
  background-color: transparent;

}

footer{
  background: transparent;
  padding: 50px 0;
  display: grid;
  border-top: 1px solid #c9b63a;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: black;

}
