body{
  background-color: blue;
  color: #fff;
  font-size: 30px;
  padding: 0px;
  opacity: 1;

}

nav{
}

.images{
}

.link

.panel{
  moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 30px;
  padding: 0 30px 0 0;
  width: 33%;
  min-height: 150px;
  display: inline-block;
}
.images img{
}

.images img:hover{

}

#info{

}

#stuff{
  background: transparent;
  padding: 50px 0;
  border-top: 1px solid #eaeaea;
}

/*

#responsive_slide_nav_wrapper,
.feature_panels:nth-child(1n) .records_list.image_list ul li.panel_hero,
#footer .copyright,
#footer #social_links,
.link,
.button,
.button_large,
.button_small,
.button_outline,
video#video_background,
.section-home #fallback,
.section-home #video_mask,
#client_logos {
    display: none !important;
}

#content, #header.header_fixed .inner, body.type-fullscreen #header .inner, #hero_header .inner, #footer .inner, .content_section, .hero_section .inner, #client_logos .inner, .heading_wrapper {
    width: 100% !important;
}

body {
    width: 1100px;
}

#header.header_fixed {
    min-height: 0;
    height: auto;
    margin: 0 0 50px;
    padding: 0 0 50px;
    border-bottom: 1px solid #eaeaea;
}
body #logo,
body #logo a,
body .hero-visible #logo,
body .hero-visible #logo a,
body .hero-visible #logo a:visited {
    color: #000 !important;
    font-size: 30px !important;
    padding: 0 !important;
    opacity: 1 !important;

    display: none !important;
}
body #logo a:before {
    display: none !important;
}
body #logo_print {
    width: 200px;
}

#footer {
    background: transparent !important;
    padding: 50px 0 !important;
    border-top: 1px solid #eaeaea;
}
    #footer .advanced_footer_item {
        display: none !important;
    }
    #footer .advanced_footer_item.advanced_footer_item_2 {
        display: block !important;
    }

    body.section-home #main_content, body.section-home.layout-hero-header.layout-fixed-header #main_content {
        margin-top: 0 !important;
    }

    .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_21 .fill,
    .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_22 .fill {
        display: none !important;
    }
    .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_21 .image_wrapper,
    .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_22 .image_wrapper {
        position: static !important;
    }
    .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_21,
    .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_22,
    .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_21 span,
    .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_22 span {
        height: auto !important;
    }
    .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_21 .image > span,
    .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_22 .image > span {
        position: static !important;
    }
    .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_21 .image > span img,
    .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_22 .image > span img {
        max-width: 100% !important;
    }

    .feature_panels .records_list.image_list ul li.panel_hero .hero_section .inner, .feature_panels .records_list.image_list ul li.panel_hero .hero_section_placeholder {
         height: 400px;
    }
    .feature_panels .records_list.image_list ul li.panel_hero .hero_heading h2 {
        font-size: 52px;
        line-height: 56px;
        font-weight: normal;
        margin: 0 0 14px;
    }
    .feature_panels .records_list.image_list ul li.panel_hero .hero_heading .subtitle {
        font-size: 24px;
        line-height: 30px;
    }

    .feature_panels:nth-child(1n) .records_list.image_list .panel.panel_style_half_width {
        width: 50% !important;
    }

    .heading_wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    .panel.no_image.panel_text.panel_style_full_width {
        width: 100% !important;
    }
    .panel.no_image.panel_text.panel_style_two_columns {
        width: 66% !important;
    }

    .feature_panels .records_list.image_list {
        margin-right: -30px;
    }
        .feature_panels .records_list.image_list > ul > li {
            -moz-box-sizing: border-box !important;
            -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
            margin: 0 0 30px !important;
            padding: 0 30px 0 0 !important;
            width: 33% !important;
            min-height: 150px !important;
            display: inline-block !important;
        }
        .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_21.panel_style_wide,
        .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_21.panel_style_full_width,
        .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_22.panel_style_full_width {
            width: 66% !important;
        }

        .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_21.panel_style_half_width,
        .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_22.panel_style_half_width {
            width: 50% !important;
        }

        .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_21.panel_style_half_width + .panel,
        .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_22.panel_style_half_width + .panel,
        .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_21.panel_style_half_width + .panel_type_22 + .panel + .panel,
        .feature_panels:nth-child(1n) .records_list.image_list > ul > li.panel_type_22.panel_style_half_width + .panel_type_21 + .panel + .panel {
            /*width: 50% !important;
        }

        .feature_panels:nth-child(1n) .records_list ul li.panel_variant_21 .content,
        .feature_panels:nth-child(1n) .records_list ul li.panel_variant_22 .content {
            position: static !important;
            color: #333 !important;
            padding: 0 !important;
        }
        .feature_panels:nth-child(1n) .records_list ul li.panel_variant_21 h2, .feature_panels:nth-child(1n) .records_list ul li.panel_variant_22 h2 {
            color: #333 !important;
        }
        .feature_panels:nth-child(1n) .records_list ul li.panel_variant_21 .subtitle, .feature_panels:nth-child(1n) .records_list ul li.panel_variant_22 .subtitle {
            color: #bbb !important;
        }
        .feature_panels:nth-child(1n) .records_list ul li.panel_variant_21 .image,
        .feature_panels:nth-child(1n) .records_list ul li.panel_variant_22 .image {

        }
        .feature_panels:nth-child(1n) .records_list ul li.panel_variant_21 .image span img,
        .feature_panels:nth-child(1n) .records_list ul li.panel_variant_22 .image span img {
            display: none !important;
        }

        .feature_panels:nth-child(1n) .records_list ul li.panel_variant_21:nth-child(1n) .content, .feature_panels.feature_panels_layout_type_2 .records_list.image_list ul li.panel_variant_21.panel_standard:nth-child(-n+3) .content, .feature_panels:nth-child(1n) .records_list ul li.panel_variant_22:nth-child(1n) .content, .feature_panels.feature_panels_layout_type_2 .records_list.image_list ul li.panel_variant_22.panel_standard:nth-child(-n+3) .content {
            opacity: 1 !important;
        }
        .feature_panels:nth-child(1n) .records_list ul li.panel_variant_21:nth-child(-n+3) .content2, .feature_panels:nth-child(1n) .records_list ul li.panel_variant_22:nth-child(-n+3) .content2 {
            display: none !important;
        }

        .feature_panels:nth-child(1n) .records_list ul li h2 {
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 2.5px;
            margin: 0 0 12px;
        }
        .testimonial {
            font-size: 17px;
            line-height: 26px;
            margin: 0 0 13px;
        }

        .feature_panels:nth-child(1n) .records_list ul li.panel_style_full_width.panel_text .content,
        .feature_panels:nth-child(1n) .records_list ul li.panel_style_full_width.panel_two_columns .content,
        .feature_panels:nth-child(1n) .records_list ul li.panel_style_full_width.panel_standard .content {
            padding: 20px 10% 0;
        }

        .feature_panels:nth-child(1n) .records_list .fp_custom_artlogic_feature_list {
            width: 970px !important;
            /*padding: 0 5% !important;
        }


    .records_list > ul {
        float: left !important;
    }

    .website_filters {
        margin-top: 24px;
        position: absolute;
    }

    .feature_panels .panel.fp_custom_websites .view_website_link {
        letter-spacing: 2.5px;
        margin-top: 4px;
    }

    .feature_panels:nth-child(1n) .records_list ul li.panel_standard:nth-child(1n) .content {
        padding: 0px;
    }
    .feature_panels:nth-child(1n) .records_list ul li.panel_standard.panel_variant_21:nth-child(1n) .content,
    .feature_panels:nth-child(1n) .records_list ul li.panel_standard.panel_variant_22:nth-child(1n) .content {
        padding: 80px 20px 20px;
    }

    #footer.advanced_footer #social_links {
        float: right;
    }

    #feature_sidebar {
        width: 30%;
    }
    .content_next_to_feature_sidebar {
        width: 65%;
    }
/*
